header {
  @include container-outer;

  .inner {
    @include container-inner;
  }

  a {
    display: inline-block;
    text-decoration: none;
    margin-right: 0.5em;
  }

  .name-bar {
    h1 {
      max-width: 100%;
      display: inline-block;
      color: $blue;
      font-family: Orbitron;
      text-shadow: 1px 2px $gray;
    }
    div {
      display: inline-block;
      height: 6em;
      width: 6em;
      img {
        margin-left: 1em;
        width: 4em;
        height: 4em;
        border-radius: 2em;
        height: auto;
      } 
      a {
        padding-top: 0.5em;
        font-family: Lucida;
        font-size: 10pt;
        font-weight: bold;
        color: $gray;
      }   
    }
  }

  .menu-bar {
    background-color: $gray;
    border-radius: 0.25em;
    min-height: 3em;
    ul {
      padding-left: -1em;
      list-style-type: none;
      display: inline-block;
      li {
        display: inline-block;
        a {
          font-family: Tahoma, Geneva, sans-serif;
          font-size: 12pt;
          font-weight: bold;
          color: $yellow;
          img {
            margin-top: 0.25em;
            width: 1.5em;
            border-radius: 0.4em;
          }
        } 
      }
    }

  }

  @media (min-width: 550px) {
    .right-pull {
      float: right;
      margin-top: 0.5em;
    }
  }
  @media (max-width: 549px) {
    .wide-and-centered {
      width: 100%;
      display: block;
      text-align: center; 
      img {
        display: block;
        margin: 0 auto;
      }
    }

  }


}


