header {
  @include container-outer;

  .inner {
    @include container-inner;
  }

  a {
    display: inline-block;
    text-decoration: none;
    margin-right: 0.5em;
  }

  h1 {
    color: $yellow;
    font-family: "Orbitron";
    text-align: center;
  }

  .name-big {
    display: inline-block;
    margin: 0 auto;
    padding: 0;
    color: $blue;
  }

  .menu-bar {
    background-color: $gray;
    border-radius: 0.25em;
    padding: 0.4em;
    a {
      width: auto;
      font-family: Tahoma, Geneva, sans-serif;
      font-weight: bold;
      color: $blue;
      img {
        width: 1.5em;
        border-radius: 0.6em;
      }

    }
  }

  .right-pull {
    float: right;
  }

  .pic-circle {
    width: 4em;
    border-radius: 2em;
    margin-left:  0.25em;
    margin-right: 0.25em;
    height: auto;
  }

}


