@import "header"; 
@import "footer";
@import "home2";
@import "bootstrap";

*,
*:before,
*:after {
    box-sizing: border-box;
}

.content { 
  /* position */
  position: relative; /* TECH NOTE: change to absolute; explain behavior */
  margin: auto; /* TECH NOTE: what does this do? */
  
  /* appearance */ 
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-size: 100%;
  line-height: 1.88889;
  /* background: url("/assets/images/galaxy.jpg"); 
  background-repeat: repeat; */
  background-color: #222222;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
    
  .screen_wide_spacer { 
    position: relative;
    width: 98%;
    height: 72px;
  }

  .wrapper {
    display: block;
    position: relative;
    padding: 5px;
    margin: 5px;
    /* debug only */ /*  
    box-shadow: 2px 2px 2px 2px #a6a6a6; */

    /* avoid the great collapse */
    &:after { 
       content: ""; 
       display: block; 
       height: 0; 
       clear: both;
    }
  
    .red {
      margin: 0 auto;
      width: 100%;
      height: auto;
      /* outline: 1px dotted red; */
    }
    

    .orange {
      position: relative;
      padding: 5px;
      margin: 5px;
      float: left;
      width: 100%;
      height: auto;
      border-radius: 10px;
      /* outline: 1px dotted orange; */
      box-shadow: 1px 1px 1px 1px #EA804C;
      background: #000000;

      h1 {
        display: inline-block;
        width: 50%;
        height: auto;
        margin: 5px;
        color: #FFA500;
        font-size: 20pt;
      }

      h2 {
        display: inline-block;
        width: 100%;
        height: auto;
        margin: 5px;
        color: #A5B3AA;
        font-size: 16pt;
      }

      img {
        float: right;
        padding: 5px;
        margin: 5px;
        width: 25%;
        max-width: 250px;
        height: 100%;
      }

      p {
        font-size: 12pt;
        color: #A5B3AA;
        text-align: justify;
      }

      a {
        overflow: hidden;
        display: inline-block;
        border: 1px solid #2790B0;
        text-align: center;
        color: #2790B0;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 12px;
        padding: 5px;
        position: relative;
        border-radius: 5px;
        
        span {
          z-index: 5;
          position: relative;
        }
        
        &:after {
          content: "";
          display: block;
          background: #333333;
          position: absolute;
          top: 100%;
          left: 0;
          width: 100%;
          height: 100%;
          transition: all 250ms ease-in-out;
        }
        
        &:hover:after {
          top: 0%;
        }
        
        &:hover {
          color: #F1DB42;
        }
        
      }

    }

    @media (min-width: 780px) {
      .green {
        position: relative;
        padding: 5px;
        margin: 5px;
        float: left;
        width: 45%;
        height: auto;
        border-radius: 10px;
        /* outline: 1px dotted green; */
        box-shadow: 1px 1px 1px 1px #A7BFA0;
        background: #000000;
        opacity: 0.8;
      }
    }

    @media (max-width: 779px) {
      .green {
        position: relative;
        padding: 5px;
        margin: 5px;
        float: left;
        width: 100%;
        height: auto;
        border-radius: 10px;
        /* outline: 1px dotted green; */
        box-shadow: 1px 1px 1px 1px #A7BFA0;
        background: #000000;
        opacity: 0.8;
      }
    }    

    .green h1 {
        width: 100%;
        height: auto;
        margin: 5px;
        color: #32CD32;
        font-size: 20pt;
      }

    .green h2 {
        width: 100%;
        height: auto;
        margin: 5px;
        color: #32CD32;
        font-size: 12pt;
      }

    .green p {
        text-align: justify;
        font-size: 12pt;
        margin: 5px;
        padding-bottom: 10px;
        color: #A5B3AA;;
      }

    .green img {
        float: left;
        padding: 5px;
        margin: 15px;
        width: 40%;
        height: 100%;
        box-shadow: 2px 2px 2px 2px #333333;
      }

    .green a {
      overflow: hidden;
      display: inline-block;
      border: 1px solid #2790B0;
      text-align: center;
      color: #2790B0;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 12px;
      padding: 5px;
      position: relative;
      border-radius: 5px;
      
        span {
          z-index: 5;
          position: relative;
        }
          
        &:after {
          content: "";
          display: block;
          background: #333333;
          position: absolute;
          top: 100%;
          left: 0;
          width: 100%;
          height: 100%;
          transition: all 200ms ease-in-out;
        }
          
        &:hover:after {
            top: 0%;
        }
          
        &:hover {
            color: #F1DB42;
        }  

    }

    @media (min-width: 780px) {
      .yellow {
        position: relative;
        padding: 5px;
        margin: 5px;
        float: left;
        width: 50%;
        height: auto;
        border-radius: 10px;
        /* outline: 1px dotted yellow; */
        box-shadow: 2px 2px 2px 2px #EDE7BE;
        background: #000000;
        opacity: 0.8;
      }
    }

    @media (max-width: 779px) {
      .yellow {
        position: relative;
        padding: 5px;
        margin: 5px;
        float: left;
        width: 100%;
        height: auto;
        border-radius: 10px;
        /* outline: 1px dotted yellow; */
        box-shadow: 2px 2px 2px 2px #EDE7BE;
        background: #000000;
        opacity: 0.8;
      }
    }    
    
    .yellow h1 {
      display: inline-block;
      width: 100%;
      height: auto;
      margin: 5px;
      color: #F1DB42;
      font-size: 20pt;
    }

    .yellow h2 {
      display: inline-block;
      width: 100%;
      height: auto;
      margin: 5px;
      color: #A5B3AA;
      font-size: 12pt;

      &:before {
        display: block;
        margin-top: 20px;
        margin-bottom: 20px;
        content: "";
        width: 90%;
        height: 1px;
        box-shadow: 1px 1px 1px 1px #A5B3AA;
      }
    }

    @media (min-width: 780px) {
      .yellow p {
        margin: 5px;
        padding-bottom: 10px;
        display: inline-block;
        width: 55%;
        text-align: justify;
        font-size: 12pt;
        color: #A5B3AA;
      }
    }

    @media (max-width: 779px) {
      .yellow p {
        margin: 5px;
        padding-bottom: 10px;
        display: inline-block;
        width: 60%;
        text-align: justify;
        font-size: 12pt;
        color: #A5B3AA;
      }
    }

    @media (min-width: 780px) {
      .yellow img {
        float: right;
        width: 35%;
        height: 100%;
        box-shadow: 1px 1px 1px 1px #333333;
      }
    }

    @media (max-width: 779px) {
      .yellow img {
        float: right;
        width: 25%;
        height: 100%;
        box-shadow: 1px 1px 1px 1px #333333;
      }
    }

    .yellow a {
      overflow: hidden;
      display: inline-block;
      border: 1px solid #2790B0;
      text-align: center;
      color: #2790B0;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 12px;
      padding: 5px;
      position: relative;
      border-radius: 5px;
      
      span {
        z-index: 5;
        position: relative;
      }
      
      &:after {
        content: "";
        display: block;
        background: #333333;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 100%;
        transition: all 200ms ease-in-out;
      }
      
      &:hover:after {
        top: 0%;
      }
      
      &:hover {
        color: #F1DB42;
      }
      
    }
    

  }

  .graphic {
    padding: 5px;
    margin: 5px;
    width: 20%;
    height: 100%;

    .one {
      float: left;
      overflow: hidden;
      box-shadow: inherit;

      img {
        position: relative;
        width: 100%;
        height: 100%;
        box-shadow: inherit;
      }
    }  

  }

  #owl-demo {
    width: 100%;
  }

  #owl-demo .owl-item {
    margin: 5px;
    width: 100%;
  }

  #owl-demo .owl-item img {
    display: block;
    width: 100%;
    height: auto;
  }

}


