body {
  background-color: #3B0000;
}

#box-top {
  max-width: 100%;
  max-height: auto;
  margin-left: 0.5em;
  padding: 1em;
  padding-bottom: 5em;
  position: relative;
  z-index: 90;
}

#name-and-nav {
  background-color: #674F23;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#222222), to(rgba(0,0,0,0)));
  border-radius: 1em;
  width: 95%;
  min-width: 280px;
  height: 30em;
  position: absolute;
  top: 0em;
  left: 0em;
  z-index: 100;
}

#name {
  font-family: "Orbitron";
  font-size: 24pt;
  color: yellow;
  margin-left: 0.5em;
  margin-top: 0.25em;
  max-width: 100%;
}

#social-media-bar {
  position: absolute;
  top: 6em;
  left: -2em;
  width: 2em;
  list-style-type: none;
  z-index: 110;
}

.social-media-widget {
  position: relative;
  width: 100%;
  clip-path: polygon(0% 50%, 25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%);
}

#headshot-and-highlights {
  @media (min-width: 0px) and (max-width: 619px) { height: 52em; } 
  @media (min-width: 620px) and (max-width: 991px) { height: 35em; } 
  @media (min-width: 992px) { height: 28em; }

  background-color: #674F23; 
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.9)), to(rgba(0,0,0,0.0))); 
  border-radius: 1em;
  max-width: 95%;
  min-width: 300px;
  position: relative;
  top: 5em;
  left: 2em;
  z-index: 150;
/*  animation-delay: 2s;
  -webkit-animation: fadein 1s;*/ /* Safari, Chrome and Opera > 12.1 */ 
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

#headshot {
  margin: auto 0;
  max-height: 100%;
  padding: 1em;
}

.small-book {
  margin: 1em;
  max-width: 35em;
}

.big-hex-holder {
  display: inline-block;
  position: relative;

  section {
    display: inline-block;
    font-weight: bold;
    -webkit-clip-path: polygon(0% 50%, 25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%);
  }

  transition: all 0.125s linear;
  &:after{
    transform: rotateY(360deg);
  }
}

.big-hex {
  position: absolute;
  display: inline-block;
  width: 18em;
  height: 18em;
  background-color: gray;
  -webkit-clip-path: polygon(0% 50%, 25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%);

}

.one {
  left: 0.5em;
  top: 0;
}

.two {
  @media (max-width: 619px) { 
    left: 0em;
    top:  32em;
  }
  @media (min-width: 620px) { 
    left: 13.75em;
    top:  8em;
  }
  text-align: center;
  section {
  background-color: #674F23; 
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(0,0,0,0.9)), to(rgba(0,0,0,0.0)));
    p {
      font-family: Orbitron;
      color: #0084b4;
      font-size: 9pt;
      line-height: 6pt;
    }
  }
}

/* smaller viewport, default setting */
.three {

  left: 0;
  top:  16em;
}

/* larger viewports */
@media (min-width: 992px) {
  .three {
    left: 27em;
    top:  0;
  }
}

.narrow-book {
  display: inline-block;
  margin: 1em;
  max-width: 45%;
  max-height: 30em;
}

/* smaller viewport, default setting */
.tall-rectangle {
  position: relative;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#222222), to(rgba(0,0,0,0)));
  min-width: 340px;
  max-width: 100%;
  min-height: 30em;
  padding: 1em;
  margin: 1em;
  background-color: #674F23;
  border-radius: 0.5em;
}

/* larger viewports */
@media (min-width: 992px) {
  .tall-rectangle {
    position: absolute;
    max-width: 100%;
    min-height: 60em;
    /* padding-right: 4em; */
    padding-right: 4%;
    margin: 0.5em;
    border-radius: 0.5em;
    width: 30%;
    min-height: 40em;
  }
}

/* smaller viewport, default settings */
#box-middle-medium {
  position: relative;
  max-width: 100%;
  min-height: 60em;
  max-height: auto;
  padding: 2em;
  margin: 0.5em;
  border-radius: 0.5em;
}

#novels {
  background-color: #674F23;
  top: 0em;
  left: -2em;
  width: 100%;
}

#articles {
  background-color: #674F23;
  top: 0em;
  left: -2em;
  width: 100%;
}

/* larger viewports */
@media (min-width: 992px) {
  #novels {
    background-color: #674F23;
    top: 0em;
    left: 0em;
    width: 50%;
    z-index: 100;
  }
}

/* larger viewports */
@media (min-width: 992px) {
  #articles {
    background-color: #674F33;
    top: 2.5em;
    left: 50%;
    width: 45%;
    z-index: 150;
  }  
}

/* larger viewports */
@media (min-width: 992px) {
  #blog {
    background-color: #674F43;
    top: 5em;
    left: 60%;
    width: 33%;
    z-index: 200;
  }
}

.my-list {
  padding: 0.5em;
  font-family: Orbitron;
  color: #888888;
  font-size: 9pt;
  line-height: 16pt;
  @media (min-width: 992px) {
    margin-right: 4em;
  }  
}

.subtitle {
  color: #0084b4;
  font-size: 17pt;
  font-family: 'Audiowide', cursive;
  padding-bottom: 0.5em;
}

.menu-link {
  font-family: "Orbitron";
  font-size: 10pt;
  color: #0084b4;
/*  -webkit-transition:color .2s ease-out, background .2s ease-in;
    &:hover { color: purple;}*/
}

.section-title {
  background: transparent;
  font-family: "Orbitron";
  font-size: 18pt;
  color: yellow;
}

.buy-link {
  font-size: 12pt;
  background-color: #000000;
  width: 100%;
  text-align: center;
  clip-path: polygon(5% 50%, 10% 5%, 90% 5%, 95% 50%, 90% 95%, 10% 95%);
  font-family: 'Audiowide', cursive;
  padding-left: 10%;
  padding-right: 10%;
  -webkit-transition:color .2s ease-out, background .2s ease-in;
    &:hover { color: yellow; }
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.navlinks {
  display: inline-block;
  list-style: none;
  li {
    display: inline-block;
    margin-left: 0.5em;
    margin-right: 0.5em;
  }
}


