body {
  background-color: #600000;
}

#box-top {
  max-width: 100%;
  min-height: 40em;
  max-height: auto;
  margin-left: 0.5em;
  padding: 1em;
  padding-bottom: 5em;
  position: relative;
  z-index: 90;
}

#name-and-nav {
  background-color: #674F23;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#222222), to(rgba(0,0,0,0)));
  border-radius: 1em;
  width: 90%;
  height: 30em;
  position: absolute;
  top: 0em;
  left: 0em;
  z-index: 100;
}

#name {
  font-family: "Orbitron";
  font-size: 28pt;
  color: yellow;
  margin-left: 0.5em;
}

#social-media-bar {
  position: absolute;
  top: 6em;
  left: 0;
  width: 2.5em;
  padding: 1em;
  height: auto;
  list-style-type: none;
  z-index: 110;
}

.social-media-widget {
  position: relative;
  width: 100%;
  margin-top: 0.5em;
  height: auto;
  clip-path: polygon(0% 50%, 25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%);
}

#headshot-and-highlights {
  background-color: #674F23; 
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.9)), to(rgba(0,0,0,0.0))); 
  border-radius: 1em;
  max-width: 90%;
  min-height: 30em;
  position: relative;
  top: 5em;
  left: 7em;
  z-index: 150;

  animation-delay: 2s;
  -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
 
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

#headshot {
  margin: auto 0;
  max-height: 100%;
  padding: 1em;
}

.small-book {
  margin: 1em;
  max-width: 35em;
}

.big-hex-holder {
  display: inline-block;
  position: relative;
  max-width: 50%;
  max-height: 50%;
}

.big-hex {
  position: relative;
  display: inline-block;
  width: 20em;
  height: 20em;
  background-color: gray;
  clip-path: polygon(0% 50%, 25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%);
}

.one {
  left: 0;
  top: 0;
}
.two {
  left: 1em;
  top:  1em;
}
.three {
  left: 2em;
  top:  0;
}

.narrow-book {
  margin: 1em;
  max-width: 100%;
}

/* smaller viewport */
.tall-rectangle {
  position: relative;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#222222), to(rgba(0,0,0,0)));
  max-width: 100%;
  min-height: 30em;
  padding: 1em;
  margin: 1em;
  background-color: #674F23;
  border-radius: 0.5em;
}

/* larger viewports */
@media (min-width: 992px) {
  .tall-rectangle {
    position: absolute;
    max-width: 100%;
    min-height: 60em;
    /* padding-right: 4em; */
    padding-right: 4%;
    margin: 0.5em;
    border-radius: 0.5em;
    width: 30%;
    min-height: 40em;
  }
}

/* smaller viewport, default settings */
#box-middle-medium {
  position: relative;
  max-width: 100%;
  min-height: 60em;
  max-height: auto;
  padding: 2em;
  margin: 0.5em;
  border-radius: 0.5em;
}

/* larger viewports */
@media (min-width: 992px) {
  #novels {
    background-color: #674F23;
    top: 0em;
    left: 0em;
    width: 50%;
    z-index: 100;
  }
}

/* larger viewports */
@media (min-width: 992px) {
  #articles {
    background-color: #674F33;
    top: 2.5em;
    left: 47%;
    width: 50%;
    z-index: 150;
  }  
}

/* larger viewports */
@media (min-width: 992px) {
  #blog {
    background-color: #674F43;
    top: 5em;
    left: 60%;
    width: 33%;
    z-index: 200;
  }
}

.my-list {
  color: #AAAAAA;
  font: sans-serif;
  font-size: 12pt;
  padding: 1em;
  text-align: justify;
}

.subtitle {
  color: #0084b4;
  font-size: 17pt;
  font-family: 'Audiowide', cursive;
  text-align: center;
}

.menu-link {
  font-family: "Orbitron";
  font-size: 12pt;
  color: #0084b4;
  -webkit-transition:color .2s ease-out, background .2s ease-in;
    &:hover { color: purple;}
}

.section-title {
  background: transparent;
  font-family: "Orbitron";
  font-size: 18pt;
  color: yellow;
}

.buy-link {
  font-size: 14pt;
  background-color: #000000;
  width: 100%;
  text-align: center;
  clip-path: polygon(5% 50%, 10% 5%, 90% 5%, 95% 50%, 90% 95%, 10% 95%);
  font-family: 'Audiowide', cursive;
  margin: 0 auto;
  padding-left: 10%;
  padding-right: 10%;
  -webkit-transition:color .2s ease-out, background .2s ease-in;
    &:hover { color: yellow; }
}


