@import "bourbon/app/assets/stylesheets/bourbon";
@import "grid-settings";
@import "neat/app/assets/stylesheets/neat";
@import "sass-mediaqueries/media-queries";
@import "colors";
@import "normalize";
@import "images";
@import "layout";
@import "container";
@import "typography";
@import "header";
@import "blog-index";
@import "blog-post";

.content {
  
  img {
    display: block;
    margin: 0 auto;
    border: 15px solid #3e2b14;
    border-radius: 1em;
    max-height: 100%;
    max-width: 30em;
    text-align: center;
  }

  p {
    line-height: 1.5em;
    padding: 0.5em;
    margin: 0 auto;
    color: $black;
    font-size: 11pt;
    font-family: Lucida ;
    font-weight: bold;
    max-width: 90%;
    text-align: justify;
  } 
  
  .buy-link-container {
    width: 100%;

  }

  .buy-link {
    display: block;
    margin: 0 auto;
    text-decoration: none;
    padding: 0.5em;
    border-radius: 0.2em;
    font-size: 14pt;
    background-color: $blue;
    color: $light-gray;
    max-width: 40%;
    text-align: center;
    /*clip-path: polygon(5% 50%, 10% 5%, 90% 5%, 95% 50%, 90% 95%, 10% 95%);*/
    font-family: Geneva, cursive;
    padding-left: 10%;
    padding-right: 10%;
    -webkit-transition:color .2s ease-out, background .2s ease-in;
      &:hover { color: yellow; }
    }

    .left-pull {
      float: left;
    }

    .right-pull {
      float: right;
    }

    @media (min-width: 550px) {
      .right-pull {
        float: right;
        margin-top: 0.5em;
      }
    }
    
    @media (max-width: 549px) {
      .wide-and-centered {
        width: 100%;
        display: block;
        text-align: center; 
        img {
          display: block;
          margin: 0 auto;
        }
      }
    }

}
