@import "bourbon/app/assets/stylesheets/bourbon";
@import "grid-settings";
@import "neat/app/assets/stylesheets/neat";
@import "sass-mediaqueries/media-queries";
@import "colors";
@import "normalize";
@import "images";
@import "layout";
@import "container";
@import "typography";
@import "header";
@import "blog-index";
@import "blog-post";

.content {
  
  img {
    display: block;
    margin: 0.5em auto;
    border: 15px solid #3e2b14;
    border-radius: 1em;
    max-height: 100%;
    max-width: 30em;
    text-align: center;
  }

  h1 {
    font-family: Orbitron;
    color: $blue;
    padding: 0.5em;
    margin: 0 auto;
    text-shadow: 0px 1px $gray;
  }

  h2 {
    font-family: Audiowide;
    color: $blue;
    padding: 0.5em;
    margin: 0 auto;
    text-shadow: 0px 1px $gray;
  }

  h3 {
    font-family: Audiowide;
    color: $blue;
    padding: 0.5em;
    margin: 0 auto;
    text-shadow: 0px 1px $gray;
  }

  p {
    line-height: 1.5em;
    padding: 0.5em;
    margin: 0 auto;
    
    @media (max-width: 549px) {
      margin-left: 1%;
      margin-right: 1%;
    }

    @media (min-width: 550px) {
      margin-left: 5%;
      margin-right: 5%;
    }

    color: $black;
    font-size: 11pt;
    font-family: Geneva;
    font-weight: bold;
    text-align: justify;
  }

  .buy-link-container {
    width: 100%;

  }

  .buy-link {
    display: block;
    margin: 0 auto;
    text-decoration: none;
    padding: 0.5em;
    border-radius: 0.2em;
    font-size: 14pt;
    background-color: $blue;
    color: $light-gray;
    max-width: 40%;
    text-align: center;
    font-family: Geneva;
    padding-left: 10%;
    padding-right: 10%;
    -webkit-transition:color .2s ease-out, background .2s ease-in;
      &:hover { color: yellow; }
    }

    a {
      font-family: Tahoma;
      display: block;
      color: $black;
      text-decoration: none;
      width: 100%;
      line-height: 1.5em;
      -webkit-transition:color .2s ease-out, background .2s ease-in;
        &:hover { color: $blue; }
    }

    @media (max-width: 549px) {
      .wide-and-centered {
        width: 100%;
        display: block;
        text-align: center; 
        img {
          display: block;
          margin: 0 auto;
        }
      }
    }

    @media (min-width: 550px) {
      .narrow {
        margin-left: 10%;
        margin-right: 10%;
      }
    }

    @media (min-width: 550px) {
      .right-pull {
        float: right;
      }
    }
    
    

}
