%header
  %div.inner
    %div.name-bar.wide-and-centered
      %div.wide-and-centered
        %img{ src: "/images/msk_logo.jpg" }
      %h1.name-big.wide-and-centered Marc S. Kruza
      %div.right-pull.wide-and-centered
        %img{ src: "/images/me.jpg" }
        / %a{ href: "#{}"} &#9658 About Marc 
    %div.menu-bar
      %ul.wide-and-centered
        %li
          %a.menu-link{ href: "/index.html"}  Home   
        %li 
          %a.menu-link{ href: "/books.html"}  Books
        %li
          %a.menu-link{ href: "/travel.html"} Travel
        %li
          %a.menu-link{ href: "/blog.html"}  Blog
      %ul.right-pull.wide-and-centered
        %li
          %a{ href: "https://twitter.com/mkruza" }
            %img.social-media-widget{ src: "/images/icon_twitter.jpg" }
        %li
          %a{ href: "https://www.facebook.com/marckruza/?skip_nax_wizard=true" }
            %img.social-media-widget{ src: "/images/icon_facebook.png" }
        %li
          %a{ href: "https://plus.google.com/b/107140843890666097689/107140843890666097689/about?gmbpt=true&pageId=107140843890666097689" }
            %img.social-media-widget{ src: "/images/icon_google_plus.jpg" }
        %li
          %a{ href: "https://www.instagram.com/marckruza/?hl=en" }
            %img.social-media-widget{ src: "/images/icon_instagram.jpg" }
        %li
          %a{ href: "https://www.linkedin.com/in/marc-kruza-1765128" }
            %img.social-media-widget{ src: "/images/icon_linked_in.png" }

