%header
  %div.inner
    %img.pic-circle{ src: "images/msk_logo.jpg" }
    %h1.name-big Marc S. Kruza
    %img.pic-circle{ src: "images/me.jpg" }
  %div.inner
    %div.menu-bar
      %a.menu-link{ href: "index.html"}   Home    
      %a.menu-link{ href: "books.html"}   Books
      %a.menu-link{ href: "#articles-id"} Articles
      %a.menu-link{ href: "blog.html"}    Blog
      %a.menu-link{ href: "#"}            About
      %a.right-pull{ href: "https://twitter.com/mkruza" }
        %img.social-media-widget{ src: "images/icon_twitter.jpg" }
      %a.right-pull{ href: "https://www.facebook.com/marckruza/?skip_nax_wizard=true" }
        %img.social-media-widget{ src: "images/icon_facebook.png" }
      %a.right-pull{ href: "https://plus.google.com/b/107140843890666097689/107140843890666097689/about?gmbpt=true&pageId=107140843890666097689" }
        %img.social-media-widget{ src: "images/icon_google_plus.jpg" }
      %a.right-pull{ href: "https://www.instagram.com/marckruza/?hl=en" }
        %img.social-media-widget{ src: "images/icon_instagram.jpg" }
      %a.right-pull{ href: "https://www.linkedin.com/in/marc-kruza-1765128" }
        %img.social-media-widget{ src: "images/icon_linked_in.png" }

