
%link{ href: "/stylesheets/landing.scss", rel: "stylesheets", type: "text/css"}
%link{ href: "/stylesheets/bootstrap.css", rel: "stylesheets", type: "text/css"}

%div.wrapper
  %div.red
    %div.wrapper
      %div.orange
        %h1
          Welcome to My Website
        %img{:src => "/assets/images/me.jpg"}/
        %p
          Having graduated from Florida State with degrees in Computer
          Science and Music Composition, my interests range from
          writing novels to writing computer programs, and from
          singing in church to playing in a local rock band. I love
          beaches, mountains, surfing and hiking... and writing about
          them. I'd love to find a way to put my talents to work for
          you!
        %a.button{:href => "http://www.amazon.com/-/e/B01A1GBA1K"}
          %span
            Visit my Amazon Author Page
        %a.button{:href => "http://charlestonareajusticeministry.org/"}
          %span
            Web Portfolio: My redesign of the Charleston Area Justice Ministry webpage

      